<div class="container-fluid img-fluid" style="background-image: url('./src/assets/img/movies2.jpg');background-size:cover;">
    <navbar></navbar>
    <div class="row pt-5">
        <div class="col-md-6 p-4 ml-4 mx-auto" style="color: white;">
            <h1>Filmbaaz, is where the movie buffs meet!</h1>
            <h3 class="text-warning">Are you a movie buff?</h3>
        </div>
        <div class="col-md-5 ml-4 p-4 mx-auto" style="color: white;">
            <form class="card text-dark">
                <div class="card-header bg-light">Log In</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" ng-model="home.email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" ng-model="home.password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-warning mt-3" ng-click="home.login()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>