<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="../src/assets/img/logo.png" width="120" height="30" alt="">
    </a>
    <ul class="nav">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-primary" ng-click="navbar.signIn()">Sign In</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-outline-primary" ng-click="navbar.signUp()">Sign Up</button>
        </li>
    </ul>
</nav>